.header{
  background-color:rgb(26, 133, 241);
  width:100%;
  display:flex;
  justify-content :center;
  color:white;
}

.MyApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgImage {
  margin-top: 100px;
  position: relative;
  width: 800px;
  height: 400px;
}

.bgImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quoteText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quoteText .myQuote{
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

.mybuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mybuttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(26, 133, 241);
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.mybuttons button:hover {
  background-color: #2980b9;
}


@media only screen and (max-width: 600px) {
  .bgImage {
    margin-top: 50px;
    width: 400px;
    height: 200px;
  }

  .quoteText {
    font-size: 10px; 
  }

  .quoteText .author{
    font-size: 10px;
   
  }

  .mybuttons button {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .bgImage {
    margin-top: 30px;
    width: 300px;
    height: 150px;
  }

  .quoteText .myQuote{
    font-size: 10px;
   
  }

  .quoteText .author{
    font-size: 10px;
   
  }
}

